<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sayfa</title>
</head>
<body>
    <div> 
        <span style="color:red; font-weight:bold">Burası MyMethod sonucunda açılan sayfadır.</span>
    </div>
</body>
</html>